@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
html, body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --dark: #222222;
    --dark-blue: #1e293b;
    --primary: #4b4055;
    --secondary: #fd8d61;
}

a{cursor: pointer; text-decoration: none; color: #eee;}
button{border: none; outline: none; background: none; cursor: pointer;}

/*   general classes   */
.no-bg{background: none !important;}
.normal-font{font-weight: normal;}
.center{display: grid; place-items: center;}
.align-row{display: flex; flex-direction: row; align-items: center; justify-content: space-between;}
.align-column{display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.overlay{width: 100vw; height: 100vh; position: fixed; top: 0; background-color: #222222eb; z-index: 3;}



/*   NAVBAR - HEADER   */

nav{
    width: 100vw;
    height: 70px;
    position: fixed;
    padding-inline: 35px;
    background-color: var(--dark-blue);
    z-index: 4;
}

button{
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    color: var(--dark);
    background-color: aliceblue;
    transition: .25s;
}
button:hover{background-color: var(--secondary); transition: .25s;}

nav > h2{color: white; font-size: 30px;}
nav > h2 > a{font-size: unset;}
nav > h2 > a > span{color: var(--secondary);}
nav > h2 > a:hover{color: white !important;}
nav > ul{display: flex; align-items: center; list-style: none;}
nav > ul > li{margin-inline: 15px;}
nav a{font-size: 15px; transition: .25s;}
nav a:hover{color: var(--secondary); transition: .25s;}
nav > img{display: none; width: 40px; cursor: pointer;}
.active{color: var(--secondary);}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--dark-blue);
    border-radius: 15px;
    margin: 15px 0 0 -25px;
    box-shadow: 0 0 10px 0 #ffffff30;
}
.dropdown-content a{margin: 15px 30px; text-transform: capitalize;}

.mobile-menu{
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 2px solid var(--dark);
    background-color: var(--dark-blue);
    color: white;
    transition: .5s;
    z-index: 3;
}
.mobile-menu > li{margin: 10px 0;}



/*   MAIN-CARDS SECTION   */

main{margin-top: 70px;}
main > section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    padding: 20px;
}

.card{
    width: 300px; height: 75px;
    color: var(--primary);
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    padding-inline: 20px;
}

.switch{width: 45px; height: 26px; position: relative; display: inline-block;}
.switch input{width: 0; height: 0; opacity: 0;}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before{-webkit-transform: translateX(18px); -ms-transform: translateX(18px); transform: translateX(18px);}
input:checked + .slider{background-color: var(--secondary);}
input:focus + .slider{box-shadow: 0 0 1px var(--secondary);}
.slider.round{border-radius: 34px;}
.slider.round:before{border-radius: 50%;}



/*   ROOMS SECTION   */
#rooms-section > .card{display: grid; place-items: center;}
#rooms-section > .card{width: 250px; height: 250px;}
#rooms-section > .card > a{width: 90%; background-color: var(--secondary); border-radius: 10px;}
#rooms-section > .card > a > button{background: none;}



/*   POPUP ADD DEVICE   */

.popup-add-device{
    width: 100vw; height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    z-index: 5;
}

.popup{
    width: 65%; height: 65%;
    position: relative;
    background-color: white;
    border-radius: 20px;
    z-index: 4;
}

.popup img{position: absolute; top: 10px; right: 10px; cursor: pointer;}
.popup h2{text-align: center; margin: 30px 10px 0 10px;}

.popup form{width: 93%; height: 90%; align-items: center;}

.field{width: 90%;}
.popup label{color: var(--primary); margin-bottom: -5px;}
.popup input, select{
    outline: none;
    border: none;
    border-bottom: 3.5px solid var(--primary);
    padding: 5px;
    margin: 5px 0 10px 10px;
}

.field input:focus{border-bottom: 3px solid var(--secondary);}
.field:focus-within label{color: var(--secondary);}

.popup button{width: 95%; background-color: #eee; border-radius: 10px; margin-top: 35px;}